<%= form_with(model: task, local: true) do |form| %>
  <%= render 'common/errors', resource: @task %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <% if @task.new_record? && (defined?(@project)).nil? %>
      <%= form.collection_select :project_id, Project.all, :id, :name, { :include_blank => 'Attach to project' }%>
    <% elsif defined?(@task) %>
      <%# for future %>
    <% else %>
      <%= form.hidden_field :project_id, value: @project.id %>
    <% end %>
  </div>

  <div class="field">
    <% if @task.new_record? %>
      <%= form.collection_select :user_id, User.all, :id, :email, { :prompt => 'Select user' }%>
    <% else %>
      <%= form.collection_select :user_id, User.all, :id, :email, { :selected => @task.user_id  , :prompt => 'Select user' }%>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
