<%= form_with(model: project, local: true) do |form| %>
  <%= render 'common/errors', resource: @project %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :summery %>
    <%= form.text_field :summery %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
