
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Summery:</strong>
  <%= @project.summery %>
</p>

<% if @project.tasks.empty? %>
  <p>no tasks</p>
<% else %>
  <p>tasks:</p>
  <ul>
  <% @project.tasks.each do |task| %>
    <li>
      <%= task.title %>
    </li>
  <% end %>
  </ul>
<% end %>


<% if user_signed_in?%>
<%= link_to 'Edit', edit_project_path(@project) %> |
<% if current_user.admin? %>
  <%= link_to 'Projects tasks', tasks_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>
<% end %>
